src/ofx_config.cfg
src/sites.bak
src/sites.dat
src/setup.log
src/connect.key
src/cookies.dat
src/getdata.log
src/__pycache__/
src/xfr/
src/import/
src/*.pyc
.vscode/launch.json
.vscode/settings.json
TempFolder/
src/test.ipynb
src/scrubbers/Scrub_CL7.py
